<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhb.first.com.rhb.first.mapper.TProductMapper">
  <resultMap id="BaseResultMap" type="com.rhb.first.entity.TProduct">
    <result column="id" jdbcType="VARCHAR" property="id" />
  </resultMap>
  <insert id="insert" parameterType="com.rhb.first.entity.TProduct">
    insert into t_product (id)
    values (#{id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rhb.first.entity.TProduct">
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>